h1{
    color: black;
    text-align: center;
}

.initiator {
    text-align: center;
}

.timer {
    font-size: 7em;
}

.up, .down {
    font-size: 3em;
}

.countdown {
    font-size: 10em;
    text-align: center;
}